*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: sans-serif;
}

/*color de fondo del html*/

body{
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

body:before{
  content: "";
  width: 100%;
  min-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 1;
  z-index: -1;
  background: -webkit-gradient( linear, left top, left bottom, color-stop(5%, #f5f5f5), color-stop(47%, #cccccc), to(#808080));
  background: linear-gradient( #f5f5f5 5%, #cccccc 47%, #808080 100%);
}

/*contenedor principal del documento html*/

.contenedor{
  width: 100%;
  margin: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

/*menu logo y cabecera del documento html*/

header{
  width:100%;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  background: #7cbcb3;
}

        /*parte del header destinada al logo*/

header .logo{
  color: #fff;
  font-size: 30px;
}

header .logo a{
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  line-height: 50px;
}

header .logo img{
  width: 50px;
  vertical-align: top;
}

        /*parte del header destinada al menu*/

header nav{
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav a{
  color: #fff;
  text-align: center;
  text-decoration: none;
  padding: 10px;
}

.item{
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.item:hover .submenu{
  display: block;
  position: absolute;
  z-index: 100;
  padding: 10px;
  top: 100%;
  background: #9204b2;
}

.submenu a{
  display: block;
}

header nav a:hover{
  background: #f5f5f5;
  color: #000000;
  border-radius: 10px;
  display: block;
}

.submenu{
  display: none;
}

.iconmenu, #check{
  display: none;
}

.select{
  border: 2px dashed #9204b2;
  background: #f5f5f5;
  color: black;
  padding: 3px;
  padding-top: 5px;
  margin-right: 3px;
}

/*cuerpo del documento html*/

main{
  width: 90%;
  max-width: 1000px;
  margin: auto;
  background: #cccccc;
}

        /*imagen y titulo de bienvenida para el administrador*/
.bienvenida{
  position: relative;
}

.bienvenida img{
  width: 100%;
}

.bienvenida h2{
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 20px;
  color: #f5f5f5;
  padding: 10px;
  background:rgba(146,4,178,.6);
  border-radius: 10px;
  position: absolute;
}

        /*contenido informativo del mensaje de bienvenida para el administrador*/

.datacontent{
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.data{
  width: 30%;
  min-width: 250px;
  background: #808080;
  margin: 10px;
  padding: 10px;
  color: #f5f5f5;
  text-align: center;
}

.data p{
  font-size: 30px;
}

.data2{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.dataitem{
  margin: 5px;
  text-align: center;
}

/*tablas de informacion*/

table{
  width: 100%;
  position: relative;
}

table tr td a{
  text-decoration: none;
  color: #f5f5f5;
  position: relative;
  left: 20%;
}

table th h1{
  font-weight: bold;
  font-size: 1em;
  text-align: center;
  color: #f5f5f5;
}


/* Background-color of the odd rows */
table tr:nth-child(odd) {
  background-color: #7cbcb3;
}

/* Background-color of the even rows */
table tr:nth-child(even) {
    background-color: #cccccc;
}

table th {
  background-color: #808080;
  height: 30px;
}

table td:first-child {
  color: #f5f5f5;
  background: #808080;
  text-align: center;
}

table td:nth-child(6),table td:nth-child(7) {
  background:rgb(147,200,71);
  color:#fff;
  padding:5px;
  position: relative;
  box-shadow:0 0 0 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

table td:hover:nth-child(6),table td:hover:nth-child(7){
  box-shadow:none;
  margin :0 auto;
  background: #808080;
}

table tr:hover {
  background-color: #808080;
  color: white;
}

table td{
  font-weight: normal;
  font-size: 1em;
  -webkit-box-shadow: 0 2px 2px -2px #0E1119;
  -moz-box-shadow: 0 2px 2px -2px #0E1119;
  box-shadow: 0 2px 2px -2px #0E1119;
}

@media (max-width: 800px) {
  table td:nth-child(4),
  table th:nth-child(4) { display: none; }
}
/*encabezado del main o cuerpo*/

main .titulo{
  text-align: center;
}

.error{
  color: #9204b2;
  text-align: center;
}

.reset{
  text-align: center;
  position: relative;
  transform: translateX(-50%);
  left: 50%;
}

.reset a{
  text-decoration: none;
  color: black;
}

.reset a:hover{
  color:#9204b2;
}

/*formularios del la plataforma*/

form {
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  position: relative;
  width:300px;
}



form input, select ,textarea{
  -webkit-appearance:none;
     -moz-appearance:none;
          appearance:none;
  color: #000000;
  width:100%;
  position:relative;
  padding:13px 10px 12px;
  margin:10px auto;
  border:none;
  -webkit-box-shadow:0 0 0 2px #cccccc;
          box-shadow:0 0 0 2px #cccccc;
  border-radius:5px;
}
form input:focus , select:focus, textarea:focus{
  -webkit-box-shadow:0 0 0 2px #9204b2;
          box-shadow:0 0 0 2px #9204b2;
  outline:none;
}
form input[type="submit"] {
  width:270px;
  background:rgb(147,200,71);
  color:#fff;
  font-size:14px;
  padding:10px;
  -webkit-box-shadow:0 0 0 0;
          box-shadow:0 0 0 0;
}
form input[type="submit"]:focus {
  -webkit-box-shadow:none;
          box-shadow:none;
  margin :0 auto;
}


/*pie del documento html*/

footer{
  position: fixed;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
}