*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: sans-serif;
}

body{
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

body:before{
  content: "";
  width: 100%;
  min-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 1;
  z-index: -1;
  background: -webkit-gradient( linear, left top, left bottom, color-stop(5%, #f5f5f5), color-stop(47%, #cccccc), to(#808080));
  background: linear-gradient( #f5f5f5 5%, #cccccc 47%, #808080 100%);
}

.contenedor{
  width: 100%;
  margin: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

header{
  width:100%;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  background: #7cbcb3;
}

header .logo{
  color: #fff;
  font-size: 30px;
}

header .logo a{
  color: #fff;
  text-decoration: none;
  line-height: 50px;
}

header .logo img{
  width: 50px;
  vertical-align: top;
}

header nav{
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav a{
  color: #fff;
  text-align: center;
  text-decoration: none;
  padding: 10px;
}

.item{
  flex-grow: 1;
  display: flex;
  position: relative;
}

.item:hover .submenu{
  display: block;
  position: absolute;
  z-index: 100;
  padding: 10px;
  top: 100%;
  background: #9204b2;
}

.submenu a{
  display: block;
}

header nav a:hover{
  background: #f5f5f5;
  color: #000000;
  border-radius: 10px;
  display: block;
}

.submenu{
  display: none;
}

.iconmenu, #check{
  display: none;
}

main{
  width: 90%;
  max-width: 1000px;
  margin: auto;
}

.bienvenida{
  position: relative;
}

.bienvenida img{
  width: 100%;
}

.bienvenida h2{
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 20px;
  color: #f5f5f5;
  padding: 10px;
  background:rgba(146,4,178,.6);
  border-radius: 10px;
  position: absolute;
}

.datacontent{
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.data{
  width: 30%;
  min-width: 250px;
  background: #808080;
  margin: 10px;
  padding: 10px;
  color: #f5f5f5;
  text-align: center;
}

.data p{
  font-size: 30px;
}

.data2{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.dataitem{
  margin: 5px;
  text-align: center;
}

footer{
  position: fixed;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
}